.social-menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.social-menu ul li a{
    color: #ff3685;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #ff3685;
    border-radius: 50%;
    transition: .4s;
}
.social-menu ul li a:hover{
    color: white;
    background-color: #ff3685;
}